.box{
	width: 800px;
	height: 600px;
	background-color:white; 
	border: 1px solid black;
  padding-top: 30px;
  padding-left: 30px;
  padding-bottom: 30px;

	
}
.rect{background-color:black;
      border: 2px solid gray;
      width: 600px;
      height: 500px;
      padding-left: 170px;
      padding-bottom: 70px;
      padding-top: 30px;     
      
 }
 .rect{
 	border-radius: 30px;
 	color: white;

 }
 .rect header{
 	
 	text-align: left;
 	position: relative;
 	top: -20px;
  margin-left: -150px;
 }
 h1{
 	text-align: center;
    position: relative;
    top: -70px;
    padding-left: -40px;
    font-size: 15px;


 }
 h2{
 	text-align: right;
 	position: relative;
 	top: -120px;
  font-size: 15px;

 }
 .inside{
 	width: 580px;
 	height: 500px;
 	background-color: gray;
 	margin right: 20px;
 	margin-left: -70px;
 	margin-top: -130px;
 	
 }
 .inside{
 	border-radius: 30px;
 	text-align: center;
 }
 h3{
 	padding: 50px;
 }
 .input1{
     width: 500px;
     padding: 10px;

 }
 .icon{
  background-color: black;
  padding: 10px;
 }
 .input2{
     width: 500px;
     padding: 10px;

 }
 .cont{
  width: 197px;
  padding: 5px;
  background-color: red;
  color: white;
  margin-left: 40px;
  }
  .log{
    width: 100px;
    margin-left: 300px;
    margin-top: -30px;

 }
 .tick{
  color: blue;
  width:40px;
  padding: 5px;
  margin-left: 70px;
  margin-top: 20px;
 }
 h4{
  color: black;
  padding-right: 200px;
  padding-top: -120px;
  margin-left: -50px;
  margin-top: -35px;
 }
 h5{
  color: black;
  margin-top: -35px;
  margin-left: 30px;
  padding-left: 150px;
 }
 h6{
  color: black;
  padding: -10px;
  font-size: 15px;
 }
 hr{
  width: 450px;

 }

 


 

 
